@media only screen and (max-width : 450px)
  .Content
    .screen_wrapper
      flex-direction: column-reverse
      align-items: center
      .desc
        margin-bottom: 20px
      .img_wrapper
        margin-right: 10px
        margin-left: 10px
        width: 100%