@import './vars'

@media only screen and (max-width : 1200px)
  .image_modal
    .img_wrapper
      img
        //width: initial
        //height: 100%

@media only screen and (max-width : 660px)
  .Content
    .screen_wrapper
      flex-direction: column-reverse
    .desc
      margin-bottom: 20px

  .Donate
    & > div p
      margin-left: 0
      span
        display: block
        margin-top: 5px

@media only screen and (max-width : 450px)
  .Content
    .screen_wrapper
      .img_wrapper
        margin-right: 0
        margin-left: 0
  .image_modal
    padding-top: 0
    .img_wrapper
      padding: 10px
      width: 100%
      height: 100%
      img
        transform: rotate(-90deg) scale(1.6)

  .Donate
    padding-left: 10px

  .Download
    color: $fontColorLight
    a
      color: $fontColorLight
    h2
      border-color: $fontColorLight
