$mainColor: #ff9800
$bgColor: #fff
$fontColor: #424242
$fontColorLight: #fff
$borderColor: #cccccc
$hoverColor: #BFBFBF
$successColor: #00ff3a
$dangerColor: #ff0500
$secondaryColor: #1c272f
$disableBgColor: #f7f7f7
$mainColorDark: #e1aa0b

$checkboxSize: 25px

$fontSize: 16px

$paddingSide: 30px
$paddingTop: 66px