@import '../../styles/vars'

.App
  .bg
    position: fixed
    top: 0
    left: 50%
    z-index: -1
    width: 200vw
    height: 100vh
    display: inline-flex
    transform-origin: 0 50%
    transition: transform 1s
    transform: rotate(30deg) scaleY(4)
    &.root
      transform: rotate(90deg) scale(4) translateX(-50%)
      ////left: 0
      //transform: rotate(90deg) translateX(-45%)
      ////.dark_color
      ////  transform: scaleY(4)
    .icon
      position: fixed
      top: 42%
      left: 12%
      transform: rotate(-30deg)
      color: $fontColorLight
      img
        width: 56px
        display: inline-block
      p
        display: inline-block
    .main_color
      background-color: $mainColor
      height: 100%
      width: 50px
      //transform: rotate(45deg)
    .dark_color
      transform: scaleY(4)
      background-color: $secondaryColor
      width: 100%
      height: 100%
      //transform: rotate(45deg)

@keyframes root
  0%
    transform: rotate(30deg) scaleY(4)
  50%
    transform: rotate(90deg) scaleY(4)
  100%
    transform: rotate(90deg) scale(4) translateX(-50%)


